body {
    font-family: Arial, sans-serif;
}

#container{
    width:30%;
    margin:auto;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYvm5zSwS8rbLb8i4deksSUgfteezyPBWtag&usqp=CAU") ;
}
.chat-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.chat-box {
    display: flex;
    flex-direction: column;
}

.chat-box div{
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

.message {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

.user-message {
    background-color: #007BFF;
    color: white;
    align-self: flex-end;
}

.assistant-message {
    background-color: #f2f2f2;
    color: black;
    align-self: flex-start;
}

.message-text.typing:after {
    content: '...';
    animation: typing 1s infinite;
}

.name{
    font-size: 30px;
}
@keyframes typing {
    0% { opacity: 0.5; }
    50% { opacity: 1; }
    100% { opacity: 0.5; }
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #33a737; /* Green dot color */
    border-radius: 50%;
    margin-right: 5px; /* Add spacing between dot and text */
}
.status{
    font-size: 21px;
}
button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
